Django==3.2.0
psycopg2>=2.9.3, <2.10
uwsgi>=2.0.20, <2.1
django-utils-six
django-filter<22.0,>=21.1
graphene-django<3.0.0,>=2.15.0
django-opentracing==1.1.0
jaeger_client==4.8.0
drf-spectacular>=0.22.1, <0.23
django-prometheus==2.2.0
